/* Import custom design tokens from globals.css */
@import './styles/globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      @apply text-2xl font-medium leading-normal;
    }

    h2 {
      @apply text-xl font-medium leading-normal;
    }

    h3 {
      @apply text-lg font-medium leading-normal;
    }

    h4 {
      @apply text-base font-medium leading-normal;
    }

    p {
      @apply text-base font-normal leading-normal;
    }

    label {
      @apply text-base font-medium leading-normal;
    }

    button {
      @apply text-base font-medium leading-normal;
    }

    input {
      @apply text-base font-normal leading-normal;
    }
  }
}

